body {
  padding-top: 130px;
  font-family: 'Helvetica Neue', 'Helvetica', 'Hiragino Sans GB', 'PingHei', 'PingFang SC', 'STHeitiSC-Light', 'Microsoft YaHei', "微软雅黑", 'Arial', sans-serif;
}

.back_wrapper{
  width: t(1200);
  background-color:#f9f9f8;
}

.dataTables_empty {
  display:none;
}

.main{
	width: 1200px;
	margin: 0 auto;
}

.contact_btn{
	float: right;
	width: 64px;
	display: inline-block;
	font-size: 13px;
	line-height: 26px;
	margin-top: 30px;
	border-radius:0.2em; 
  	text-align:center;
	background:#3d9ccc; 
	color:#fff;
}

/* clearfix elimate float:left has no height */
.clearfix:before,
.clearfix:after {
  content: '\0020';
  display: block;
  overflow: hidden;
  visibility: hidden;
  width: 0;
  height: 0;
}

.clearfix:after {
  clear: both;
}

.main_right{
	float: left;
	width: 970px;
	margin-bottom: 20px;
}

.main_middle {
	float: left;
	width: 740px;
	margin-bottom: 20px;
	padding: 0px 12px 10px 10px;
}

.main2_left {
	float: left;
	width: 900px;
	margin-bottom: 20px;
}

.main2_right {
	float: right;
	width: 300px;
	margin-bottom: 20px;
	background: #fff;
}

#userlist tbody th {
  font-weight: 400;
}

.delete_button {
  cursor: pointer;
}

h3{
	height: 14px;
	line-height: 14px;
	font-size: 14px;
	color: #333333;
    margin: 0;
    font-weight: bold;
}


/************************************************
 ***
 ***  Information Panel
 ***
 ************************************************/

.info_panel{
	float: left;
	width: 970px;
	border: 1px solid #00a6aa;
	background: #fff;
	padding: 15px 15px 30px;
	margin-bottom: 10px;
}

.info_panel h3{
	float: left;
	padding-left: 15px;
	border-left: 6px solid #3d9ccc;
    margin-bottom: 10px;
}

.info_panel span a{
	font-weight: normal;
    margin: 5px 5px 50px 15px;
	padding: 5px 5px 15px 15px; 
	border-radius:0.2em; 
	font-size:15px; 
	line-height:50px; 
	text-align:center; 
	background:#3d9ccc; 
	color:#fff;
	cursor: pointer;
}

.info_panel tr td{
    padding-top:5px;
    padding-left:20px;
	font-size: 18px;
}

/************************************************
 ***
 ***  Redirect Pages
 ***
 ************************************************/
.redirect_panel{
	max-width: 800px;
	height: 400px;
	margin: 0 auto;
    padding:  100px;
}

.redirect_panel span a {
	border-radius:0.2em; 
	font-size:18px; 
	line-height:26px; 
	text-align:center; 
	color:#3d9ccc; 
	padding-left:20px; 
	padding-right:20px; 
	margin-top:100px; 
	margin: 0 auto; 
	cursor: pointer;
}


/************************************************
 ***
 ***  Form Box 
 ***
 ************************************************/
.formbox h3 {
	padding-left: 15px;
	border-left: 6px solid #3d9ccc;
    margin-bottom: 20px;
    margin-left: 15px;
}

.formbox dl {
	max-width:900px;
	height:32px;
	line-height:26px;
	margin-top:10px;
	margin-left:25px;
}

.formbox dt,.formbox dd {float:left;}
.formbox dt {
	padding-left: 20px;
	width:170px;
	text-align:left;
	font:bolder 14px/26px arial;
	color:#222;
}

.formbox dd {
	max-width:500px;
	color:#000;
}

.formbox dd .text {
	width:500px;
	height:22px;
	line-height:22px;
	border:1px #9D9D9D solid;
	padding:0  0 0 5px;
	position:relative;
	z-index:99;
}

.formbox dd .dda,.formbox dd .ddb,.formbox dd .ddc {float:left;}
.formbox dd .ddb,.formbox dd .ddc {display:inline;}
.formbox dd .cc{float:right;margin-left:0px;}
.formbox dd .rad {font:bold 14px arial;color:#039;line-height:25px;margin-left:5px;margin-left:2px\9;}

.formbox dd .textc {
	width:452px;
	height:22px;
	line-height:22px;
	border:1px #9D9D9D solid;
	padding:0  0 0 5px;
	position:relative;
	z-index:99;
}

.formbox b {color:#f00;padding:5px;}

.formbox span a{ 
	width: 100px; 
	margin-left: 150px; 
	margin-top: 20px; 
	border-radius:0.2em; 
	font-size:14px; 
	text-align:center; 
	background:#3d9ccc; 
	color: #fff;
	padding: 5px 5px 5px 5px; 
	cursor: pointer;
}

/************************************************
 ***
 ***  Company Panel
 ***
 ************************************************/
.company_panel{
	width: 900px;
	border: 1px solid #00a6aa;
	background: #fff;
	float: left;
	margin-bottom: 15px;
}

.company_panel img{
  float: right;
	margin:0 auto 5px auto;
	border:1px solid #e5e5e5;
	width: 112px;
	height: 112px;
}

.company_panel h1 {
  float: left;
  margin-right: 20px;
}

.company_panel h2 {
  margin-right: 20px;
  padding-left: 15px;
  border-left: 6px solid #3d9ccc;
  margin-top: 30px;
}

.company_panel span {
  width: 856px;
  float: left;
  padding-top:10px;
  padding-left:15px;
}
.company_panel div a{
  float: left;
  width: 64px;
  background: #e2f5ff; 
  font-size: 13px;
  line-height: 26px;
  margin-top: 30px;
  border-radius:0.2em; 
  text-align:center;
  background:#3d9ccc; 
  color:#fff;
}

/************************************************
 ***
 ***  Product Panel
 ***
 ************************************************/

.product {
  padding-left: 5px;
}

.product img{
	margin:0 auto 5px auto;
	border:1px solid #e5e5e5;
	width: 194px;
    height: 112px;
	cursor: pointer;
	transition: all 0.6s;
}

.product img.hovor{
	transform: scale(1.4);
}

.product ul {
  padding-left: 0px;
  list-style: none;
}

.product ul li {
  font-size: 12px;
  color: #444444;
  line-height: 22px;
  zoom: 1;
  word-wrap: break-word;
  word-break: break-all;
}

.product ul li p{ 
  float:left;
}
.product ul li:after {
  content: "";
  display: block;
  clear: both;
  height: 0;
  visibility: hidden;
}

.product ul span {
 	float: left;
    margin: 4px 0 0 15px;
 	width: 64px;
	background: #e2f5ff; 
 	font-size: 13px;
 	line-height: 26px;
	border-radius: 3px;
    border:1px solid #c8eafa;
    text-align:center;
    color:#3d9ccc;
    cursor: pointer;
}

/************************************************
 ***
 ***  Admin Panel
 ***
 ************************************************/
.admin_add { 
	float: right;
    margin: 5px 5px 0 15px;
	background:#e2f5ff; 
	border:1px solid #c8eafa; 
	border-radius:0.2em; 
	font-size:13px; 
	line-height:26px; 
	text-align:center; 
	color:#3d9ccc; 
	padding:0 10px;
    cursor: pointer;
}

.admin_op_button {
  cursor: pointer;
}

/************************************************
 ***
 ***  List Panel
 ***
 ************************************************/
.list_panel{
	width: 740px;
	border: 1px solid #e5e5e5;
	background: #fff;
	float: left;
	padding: 19px 20px;
	margin-bottom: 8px;
}
.list_panel h3 span{
	float: left;
}
.list_panel h3 a{
	color: #999999;
	font-size: 12px;
	float: right;
	font-weight: normal;
}

.list_panel li p{
	margin-left: 2px;
	padding-left: 20px;
}

/************************************************
 ***
 ***  Poster Panel
 ***
 ************************************************/
.top_poster {
	width: 700 px;
	height: 400 px;
	float: left;
}

/************************************************
 ***
 ***  Form Box 2
 ***
 ************************************************/
.formbox2 h3 {
	padding-left: 15px;
	border-left: 6px solid #3d9ccc;
    margin-bottom: 20px;
    margin-left: 15px;
}

.formbox2 dl {
	max-width:700px;
	height:32px;
	line-height:26px;
	margin-top:10px;
	margin-left:25px;
}

.formbox2 dt,.formbox2 dd {float:left;}
.formbox2 dt {
	padding-left: 20px;
	width:170px;
	text-align:left;
	font:bolder 14px/26px arial;
	color:#222;
}

.formbox2 dd {
	max-width:500px;
	color:#000;
}

.formbox2 dd .text {
	width:500px;
	height:22px;
	line-height:22px;
	border:1px #9D9D9D solid;
	padding:0  0 0 5px;
	position:relative;
	z-index:99;
}

.formbox2 dd .dda,.formbox2 dd .ddb,.formbox2 dd .ddc {float:left;}
.formbox2 dd .ddb,.formbox2 dd .ddc {display:inline;}
.formbox2 dd .cc{float:right;margin-left:0px;}
.formbox2 dd .rad {font:bold 14px arial;color:#039;line-height:25px;margin-left:5px;margin-left:2px\9;}

.formbox2 dd .textc {
	width:452px;
	height:22px;
	line-height:22px;
	border:1px #9D9D9D solid;
	padding:0  0 0 5px;
	position:relative;
	z-index:99;
}

.formbox2 b {color:#f00;padding:5px;}

.formbox2 span a{ 
	width: 100px; 
	margin-left: 150px; 
	background:#e2f5ff; 
	border:1px solid #c8eafa;
	border-radius:0.2em; 
	font-size:16px; 
	line-height:50px; 
	text-align:center; 
	color:#3d9ccc; 
	padding-left:15px; 
	padding-right:15px; 
	cursor: pointer;
}

/************************************************
 ***
 ***  Information Panel 2
 ***
 ************************************************/

.info_panel2{
	float: left;
	width: 740px;
	border: 1px solid #00a6aa;
	background: #fff;
	margin-bottom: 20px;
}

.info_panel2 h3{
	float: left;
	padding-left: 15px;
	border-left: 6px solid #3d9ccc;
    margin-bottom: 10px;
	font-weight: normal;
	font-size: 24px;
}

.info_panel2 h2{
	float: left;
	padding-left: 15px;
	margin-left: 15px;
	border-left: 6px solid #3d9ccc;
    margin-bottom: 10px;
}

.info_panel2 span a{
	font-weight: normal;
    margin: 5px 5px 50px 15px;
	padding: 5px 5px 5px 5px; 
	border-radius:0.2em; 
	font-size:15px; 
	line-height:50px; 
	text-align:center; 
	background:#3d9ccc; 
	color:#fff;
	cursor: pointer;
}

.info_panel2 tr td{
	min-width:100px;
    padding-left:20px;
    margin-top:1px;
    padding-top:10px;
	font-size: 16px;
}

.h3_datatable_list {
	float: left;
	padding: 15px 30px 15px 0px;
    margin: 10px 20px 15px 0px;
	font-size: 24px;
}

.title_bar {
	float: left;
	background:#F1F1F1; 
	width: 850px;
	height: 60px;
	margin-bottom:10px;
}

.title_bar span a{
	float: left;
	border-left: 4px solid #00A6AA;
	color: #00A6AA;
	font-size: 20px;	
	margin-top:15px;
	margin-left:10px;
	padding-left:15px;
}

.title_bar_op {
	float: left;
	background:#00A6AA; 
	width: 850px;
	height: 60px;
	margin-bottom:10px;
}
.title_bar_a{
	float: left;
	border-left: 4px solid #00A6AA;
	color: #00A6AA;
	font-size: 20px;	
	margin-top:15px;
	margin-left:10px;
	padding-left:15px;
}

.title_bar_info{
	color: #2F4F4F;
  	text-align:center;
	margin-top:20px;
	margin-bottom:20px;
	padding-top:30px;
	padding-bottom:30px;
}


/************************************************
 ***
 ***  Information Panel 3
 ***
 ************************************************/

.info_panel3{
	float: left;
	width: 850px;
	border: 1px solid #00a6aa;
	background: #fff;
	margin-bottom: 20px;
}

.info_panel3 h3{
	float: left;
	padding-left: 15px;
	border-left: 6px solid #3d9ccc;
    margin-bottom: 10px;
	font-weight: normal;
	font-size: 24px;
}

.info_panel3 h2{
	float: left;
	padding-left: 15px;
	margin-left: 15px;
	border-left: 6px solid #3d9ccc;
    margin-bottom: 10px;
}

.info_panel3 span a{
	font-weight: normal;
    margin: 5px 5px 50px 15px;
	padding: 5px 5px 5px 5px; 
	border-radius:0.2em; 
	font-size:15px; 
	line-height:50px; 
	text-align:center; 
	background:#3d9ccc; 
	color:#fff;
	cursor: pointer;
}

.info_panel3 tr td{
	min-width:100px;
    padding-left:20px;
    margin-top:1px;
    padding-top:10px;
	font-size: 16px;
}

.topfixed {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999999;
  background-color:#f9f9f8;
}
